@using System.Data.SqlClient;
@using System.Data;
@using I_Care.Classes;



	
	<div id="sidebar" class="sidebar menu-min responsive">

		<ul class="nav nav-list">



			<li @{if (ViewBag.Parent == "Home") { <text> class="active open hover" </text>  } else { <text> class="hover" </text>  }}>
				<a href="@Url.Content("~/Home")" onclick="render_wait()">

					<img src="../../../Content/img/HomeIcon2.png" class="icon_image_side">
					<span class="menu-text"> Home </span>
				</a>

			</li>


			<li @{if (ViewBag.Parent == "Kontrak GA") { <text> class="active open hover" </text>  } else { <text> class="hover" </text>  }}>
				<a href="@Url.Content("~/Contract/GeneralAffair")" onclick="render_wait()">

					<img src="../../../Content/img/contract_icon.png" class="icon_image_side">
					<span class="menu-text"> Kontrak GA </span>
				</a>

			</li>

			<li @{if (ViewBag.Parent == "CustomerContract") { <text> class="active open hover" </text>  } else { <text> class="hover" </text>  }}>
				<a href="@Url.Content("~/Contract/CustomerContractList")" onclick="render_wait()">

					<img src="../../../Content/img/kontrak_customer_2.png" class="icon_image_side">
					<span class="menu-text"> Kontrak Pelanggan </span>
				</a>

			</li>


			<li @{if (ViewBag.Parent == "E-Contract") { <text> class="active open hover" </text>  } else { <text> class="hover" </text>  }}>
				<a href="@Url.Content("~/EContract")" onclick="render_wait()">

					<img src="../../../Content/images/baw_e_contract.jpg" class="icon_image_side">
					<span class="menu-text"> E-Kontrak </span>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li @{if (ViewBag.Child == "e_contract_procurement") { <text> class="active" </text>  }}>
						<a href="@Url.Content("~/EContract/Procurement")" onclick="render_wait()">
							<i class="menu-icon fa fa-caret-right"></i>Procurement
						</a>
					</li>
					<li @{if (ViewBag.Child == "e_contract_general") { <text> class="active" </text>  }}>
						<a href="@Url.Content("~/EContract/General")" onclick="render_wait()">
							<i class="menu-icon fa fa-caret-right"></i>General
						</a>
					</li>
				</ul>

			</li>

			<li @{if (ViewBag.Parent == "Procurement") { <text> class="active open hover" </text>  } else { <text> class="hover" </text>  }}>
				<a href="@Url.Content("~/Procurement")" onclick="render_wait()">

					<img src="../../../Content/img/procurement.png" class="icon_image_side">
					<span class="menu-text"> Procurement</span>
				</a>

			</li>

			<li @{if (ViewBag.Parent == "StakeHolder") { <text> class="active open hover" </text>  } else { <text> class="hover" </text>  }}>
				<a href="@Url.Content("~/StakeHolder/Index")" onclick="render_wait()">

					<img src="../../../Content/img/stakeholdericon3.png" class="icon_image_side">
					<span class="menu-text"> StakeHolder</span>
				</a>

			</li>

			<li @{if (ViewBag.Parent == "EmployeeManagement") { <text> class="active open hover" </text>  } else { <text> class="hover" </text>  }}>
				<a href="@Url.Content("~/EmployeeManagement/EmployeeManagement")" onclick="render_wait()">

					<img src="../../../Content/img/employee2.png" class="icon_image_side">
					<span class="menu-text"> Employee Management</span>
				</a>

			</li>


		</ul><!-- /.nav-list -->


                

    </div>
